.libs
*.swp
*.html
/autom4te.cache
/stamp-h1
Makefile
/config.status
/config.log
/config.sub
/config.guess
/depcomp
/missing
/install-sh
/ltmain.sh
/config.h
/aclocal.m4
Makefile.in
/config/
/config.h.in
/configure
*~
/build*/
m4
GIT_REVISION
SVN_REVISION
libtool
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
/inst/linpac
/mail/delmsg.pl
/mail/pack.pl
/src/applications/autobin
/src/applications/bell
/src/applications/catch
/src/applications/compose
/src/applications/flexpwd
/src/applications/join
/src/applications/logbook
/src/applications/lpapi/lpapi
/src/applications/lpbck
/src/applications/mailer/mail
/src/applications/mailmsg/forward
/src/applications/mailmsg/getmsg
/src/applications/md2pwd
/src/applications/md5pwd
/src/applications/name
/src/applications/rawio
/src/applications/rtt
/src/applications/save7pl
/src/applications/testapp
/src/applications/tnpwd
/src/applications/yapp
/src/linpac
